---
http_interactions:
- request:
    method: get
    uri: https://typekit.com/api/v1/json/kits
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"kits":[{"id":"bas4cfe","link":"/api/v1/json/kits/bas4cfe"},{"id":"sfh6bkj","link":"/api/v1/json/kits/sfh6bkj"},{"id":"kof8zcn","link":"/api/v1/json/kits/kof8zcn"},{"id":"vim3fcl","link":"/api/v1/json/kits/vim3fcl"},{"id":"yzs8dte","link":"/api/v1/json/kits/yzs8dte"},{"id":"byl1tld","link":"/api/v1/json/kits/byl1tld"}]}'
  recorded_at: Mon, 21 Jul 2014 00:00:00 GMT
- request:
    method: get
    uri: https://typekit.com/api/v1/json/kits/bas4cfe
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"kit":{"id":"bas4cfe","name":"Ivan Ukhov at LiU","analytics":false,"badge":false,"domains":["localhost","10.0.2.2","www.ida.liu.se/~ivauk83"],"families":[{"id":"vcsm","name":"Proxima
        Nova","slug":"proxima-nova","css_names":["proxima-nova"],"css_stack":"\"proxima-nova\",sans-serif","subset":"default","variations":["n1","n3","n4"]},{"id":"vybr","name":"Calluna","slug":"calluna","css_names":["calluna"],"css_stack":"\"calluna\",serif","subset":"default","variations":["n4","i4"]}]}}'
  recorded_at: Mon, 21 Jul 2014 00:00:00 GMT
