---
http_interactions:
- request:
    method: get
    uri: https://typekit.com/api/v1/json/libraries/xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"library":{"id":"trial","link":"/api/v1/json/libraries/trial","name":"Trial
        Library","families":[{"id":"lgrs","link":"/api/v1/json/families/lgrs","name":"Abril
        Fatface"},{"id":"jtgy","link":"/api/v1/json/families/jtgy","name":"Acta Display"},{"id":"spmb","link":"/api/v1/json/families/spmb","name":"Acta
        Poster"},{"id":"drlt","link":"/api/v1/json/families/drlt","name":"Acta Poster
        Swashes"},{"id":"zcmv","link":"/api/v1/json/families/zcmv","name":"Acuta"},{"id":"gmsj","link":"/api/v1/json/families/gmsj","name":"Adelle"},{"id":"hmqz","link":"/api/v1/json/families/hmqz",[...]
