---
http_interactions:
- request:
    method: get
    uri: https://typekit.com/api/v1/json/kits/xxx
  response:
    status:
      code: 200
      message: OK
    body:
      encoding: UTF-8
      string: '{"kit":{"id":"xxx","name":"Megakit","analytics":false,"badge":false,"domains":["localhost"],"families":[{"id":"vcsm","name":"Proxima
        Nova","slug":"proxima-nova","css_names":["proxima-nova"],"css_stack":"\"proxima-nova\",sans-serif","subset":"default","variations":["n1","n3","n4"]},{"id":"vybr","name":"Calluna","slug":"calluna","css_names":["calluna"],"css_stack":"\"calluna\",serif","subset":"default","variations":["n4","i4"]}]}}'
  recorded_at: Wed, 23 Jul 2014 00:00:00 GMT
- request:
    method: get
    uri: https://typekit.com/api/v1/json/families/vcsm
  response:
    status:
      code: 200
      message: OK
    body:
      encoding: UTF-8
      string: '{"family":{"id":"vcsm","name":"Proxima Nova","slug":"proxima-nova","web_link":"http://typekit.com/fonts/proxima-nova","browse_info":{"capitals":["uppercase-lowercase"],"classification":["sans-serif"],"contrast":["low"],"language":["ca","cs","de","en","es","fr","it","mt","nl","pl","pt","ru","sl","sv"],"number_style":["uppercase"],"recommended_for":["headings","paragraphs"],"weight":["heavy","light","regular"],"width":["regular"],"x_height":["high"]},"css_stack":"sans-serif","description":"Proxima
        Nova (2005) is a complete reworking of Proxima Sans (1994). The original six
        fonts (three weights with italics) have been expanded to 42 full-featured
        OpenType fonts.\r\nProxima Nova straddles the gap between typefaces like Futura
        and Akzidenz Grotesk. The result is a hybrid combining humanistic proportions
        with a somewhat geometric appearance.","foundry":{"name":"Mark Simonson Studio","slug":"mark-simonson-studio"},"libraries":[{"id":"full","link":"/api/v1/json/libraries/full","name":"Full
        Library"},{"id":"enterprise","link":"/api/v1/json/libraries/enterprise","name":"Enterprise
        Library"}],"variations":[{"id":"vcsm:n1","link":"/api/v1/json/families/vcsm/n1","name":"Proxima
        Nova Thin","fvd":"n1"},{"id":"vcsm:i1","link":"/api/v1/json/families/vcsm/i1","name":"Proxima
        Nova Thin Italic","fvd":"i1"},{"id":"vcsm:n3","link":"/api/v1/json/families/vcsm/n3","name":"Proxima
        Nova Light","fvd":"n3"},{"id":"vcsm:i3","link":"/api/v1/json/families/vcsm/i3","name":"Proxima
        Nova Light Italic","fvd":"i3"},{"id":"vcsm:n4","link":"/api/v1/json/families/vcsm/n4","name":"Proxima
        Nova Regular","fvd":"n4"},{"id":"vcsm:i4","link":"/api/v1/json/families/vcsm/i4","name":"Proxima
        Nova Regular Italic","fvd":"i4"},{"id":"vcsm:n6","link":"/api/v1/json/families/vcsm/n6","name":"Proxima
        Nova Semibold","fvd":"n6"},{"id":"vcsm:i6","link":"/api/v1/json/families/vcsm/i6","name":"Proxima
        Nova Semibold Italic","fvd":"i6"},{"id":"vcsm:n7","link":"/api/v1/json/families/vcsm/n7","name":"Proxima
        Nova Bold","fvd":"n7"},{"id":"vcsm:i7","link":"/api/v1/json/families/vcsm/i7","name":"Proxima
        Nova Bold Italic","fvd":"i7"},{"id":"vcsm:n8","link":"/api/v1/json/families/vcsm/n8","name":"Proxima
        Nova Extrabold","fvd":"n8"},{"id":"vcsm:i8","link":"/api/v1/json/families/vcsm/i8","name":"Proxima
        Nova Extrabold Italic","fvd":"i8"},{"id":"vcsm:n9","link":"/api/v1/json/families/vcsm/n9","name":"Proxima
        Nova Black","fvd":"n9"},{"id":"vcsm:i9","link":"/api/v1/json/families/vcsm/i9","name":"Proxima
        Nova Black Italic","fvd":"i9"}]}}'
  recorded_at: Wed, 23 Jul 2014 00:00:00 GMT
