---
http_interactions:
- request:
    method: post
    uri: https://typekit.com/api/v1/json/kits/xxx
    body:
      encoding: UTF-8
      string: id=xxx&name=Ultrakit&analytics=false&badge=true&domains[]=localhost&families[0][id]=vqgt&families[0][subset]=all&families[0][variations][]=n4
  response:
    status:
      code: 200
      message: OK
    body:
      encoding: US-ASCII
      string: ! '{"kit":{"id":"xxx","name":"Ultrakit","analytics":false,"badge":true,"domains":["localhost"],"families":[{"id":"vqgt","name":"Droid
        Sans Mono","slug":"droid-sans-mono","css_names":["droid-sans-mono-1","droid-sans-mono-2"],"css_stack":"\"droid-sans-mono-1\",\"droid-sans-mono-2\",sans-serif","subset":"all","variations":["n4"]}]}}'
  recorded_at: Thu, 24 Jul 2014 00:00:00 GMT
